p {
    font-family: Roboto, Arial, serif;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    padding: 100px 25px 100px 100px;
    background-color: #f8f8f8;
}
