.sidebar {
    position: fixed;
    left: 0;
    top: 55px;
    bottom: 0;
    background-color: white;
    width: 74px;
    margin-left: 4px;
    z-index: 100;
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(230, 230, 230);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-family: Roboto, Arial, serif;
    font-size: 10px;
}