.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.fa-heart-o {
    color: #f44336;
}

.icons .fa:hover {
    color: #570802;
    transform: scale(1.5);
}

.footer h1 {
    margin-bottom: 25px;
}

.footer-intro p {
    font-size: 18px;
    color: #8b8b8b;
}

@media screen and (max-width: 700px) {
    .footer-intro p {
        font-size: 14px;
        text-align: center;
        margin-right: 25px;
        margin-left: 25px;
    }
}
