.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
}

/* left-section */

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

/* middle-section */

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 600px;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 12px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(193, 193, 193);
  border-radius: 2px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.search-bar ::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 60px;
  background-color: rgb(240, 240, 240);
  border: solid 1px rgb(193, 193, 193);
  margin-left: -1px;
  border-radius: 2px;
  margin-right: 10px;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
}

.voice-search-icon {
  height: 24px;
  margin-top: 4px;
}

/* right-section */

.right-section {
  background-color: aquamarine;
  width: 200px;
}
