.thumbnail {
    width: 100%;
    border-radius: 10px;
}

.thumbnail-row {
    position: relative;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-top: 12px;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.video-title {
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-time {
    font-family: Roboto, Arial, serif;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 10px;
    right: 5px;
    border-radius: 5px;
}
